

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

#main_container {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/main/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}



/*************** Modal Base *****************/

.modal-dialog {
  width: 400px;
}

@media screen and (max-width: 768px) {
  .modal-dialog {
    margin: 10vh auto;
  }
}

.modal-content {
  padding-bottom: 30px;
}

.modal_inner_container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}

.modal_logo {
  margin: 15px 0px;
}

.modal_logo > img {
  display: block;
  margin: 0 auto;
}

.create_free_account {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

/*************** *Content* *****************/
/*******************************************/
/*************** *Content* *****************/

.stripe {
  width: 90%;
  margin: 20px auto;
  border-bottom: 1px solid #ccc;
}

.already_a_member {
  display: block;
  margin: 20px auto;
  font-size: 16px;
  color: #333;
}

.already_a_member + button {
  width: 80%;
}


/*************** -Modal Base- *****************/


/*************** Sign Up 1 *****************/

#SIGN_UP_1 {
  width: 300px;
  margin: 0 auto;
}

.validation_propmpt {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
  font-size: 14px;
  color: #666;
}

#signIn_form_1 {
  width: 100%;
}

.signIn_text_1 {
  width: 100%;
}

.signIn_text_1 > input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  font-size: 16px;
}

.signIn_text_1 + button {
  width: 100%;
  margin-top: 10px;
}

.or {
  display: block;
  margin: 0 auto;
  padding: 7px 0px;
  font-size: 14px;
  color: #666;
}

#login_with_facebook {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  text-align: center;
  border-radius: 5px;
}

#login_with_facebook > i {
  display: inline-block;
  width: 10%;
  padding: 10px;
  background-color: #46f;
  color: #fff;
}

#login_with_facebook > span {
  display: inline-block;
  width: 90%;
  padding: 10px;
  background-color: #67f;
  color: #fff;
}

#login_with_twitter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  text-align: center;
  border-radius: 5px;
}

#login_with_twitter > i {
  display: inline-block;
  width: 10%;
  padding: 10px;
  background-color: #21A0CE;
  color: #fff;
}

#login_with_twitter > span {
  display: inline-block;
  width: 90%;
  padding: 10px;
  background-color: #23C4E0;
  color: #fff;
}

.term_policy {
  width: 80%;
  margin: 20px auto 0px;
  text-align: center;
}

.term_policy > span:nth-child(1) {
  font-size: 12px;
  color: #999;
}

.term_policy > b,
.term_policy > a {
  font-size: 12px;
  color: #666;
}

.term_policy > a {
  color: #58f;
}


/*************** -Sign Up 1- *****************/


/*************** Sign Up 2 *****************/

#SIGN_UP_2 {
  display: none;
}

.validation_propmpt {
  display: block;
  padding-top: 5px;
  font-size: 12px;
  color: #999;
}


#signIn_form {

}

.signIn_text {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.signIn_text > input {
  padding: 10px;
}

.signIn_text > input[type=text]:nth-child(1) {
  width: 74%;
}

.signIn_text> input[type=text]:nth-child(2) {
  width: 25%;
}

.alert_border {
  border-color: red;
  box-shadow: 0 0 1px red;
}

.signIn_radio {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.signIn_radio > div {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.signIn_radio > div > label {
  padding-left: 3px;
  font-weight: 300;
}

.signIn_radio + button {
  width: 100%;
  margin: 10px 0;
}

#button_back {
  text-align: center;
}






/*************** -Sign Up 2- *****************/



/*************** Get started *****************/


#GET_STARTED_CONTAINER {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.logo_header {
  margin-top: 15px;
}

.logo_header > img {
  display: block;
  margin: 0 auto;
}

.getStarted_content {
  display: none;
  justify-content: space-between;
  max-width: 1200px;
  margin: 20px auto;
}

@media screen and (max-width: 1200px) {
  .getStarted_content {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .getStarted_content {
    flex-direction: column-reverse;
  }
}

.getStarted_content > div:nth-child(1) {

}

.getStarted_content > div:nth-child(1) > h2 {

}

.getStarted_content > div:nth-child(1) > span {
  display: block;
  padding-bottom: 10px;
  line-height: 1.5;
}

.getStarted_content > div:nth-child(1) > button {
  margin-top: 15px;
}

.getStarted_content > div:nth-child(2) {
  display: flex;
  align-items: center;
}

.getStarted_content > div:nth-child(2) > img {

}

@media screen and (max-width: 768px) {
  .getStarted_content > div:nth-child(2) > img {
    margin: 20px auto;
  }
}


/************* -Get started- ***************/


/*************** Steps Base *****************/

#top_header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
}

#top_header_fixed > div {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  #top_header_fixed > div {
    width: 90%;
  }
}

#top_header_fixed > div > div:first-child {
  display: flex;
  align-items: center;
}

#top_header_fixed > div > div:first-child > img {
  display: block;
}

#top_header_fixed > div > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top_header_fixed > div > div:last-child > span:first-of-type {
  display: block;
  margin-right: 10px;
}

#top_header_fixed > div > div:last-child > span:last-of-type {
  display: block;
  margin-left: 10px;
}

#progress_container {
  width: 360px;
  height: 12px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #ccc;
}

#progress_bar {
  width: 60px;
  height: 12px;
  border-radius: 5px;
  background-color: blue;
}




/************** -Steps Base- ****************/



/********* Sevective Modals Base *********/

#SelectiveModal_1 .modal-dialog {
  width: 600px;
  position: relative;
}

.selecting_modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.smh_text {

}

.smh_underline_text {
  text-decoration: underline;
}

#search_container {
  width: 96%;
  margin: 0 auto;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



.image_container {
  position: relative;
  width: 100%;
  height: 240px;
  overflow-y: auto;
  overflow-x: auto;
}

.image_box {
  float: left;
  position: relative;
  margin: 10px;
  border: 3px solid transparent;
}

.image_box:hover {
  opacity: 0.7;
  border: 3px solid #4080ff;
  border-radius: 3px;
}

/*.image_box:hover .image_check {
  display: block;
}*/

.image_box > img:first-child {
  visibility: visible;
}

.image_title {
  position: absolute;
  top: 7px;
  left: 7px;
  font-size: 11px;
  color: #fff;
}

.image_subtitle {
  position: absolute;
  top: 22px;
  left: 7px;
  font-size: 9px;
  color: #fff;
}

.image_check {
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  right: 10px;
}



.selecting_container_bottom {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ddd;
}

.selects_to_left {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #bbb;
  font-size: 14px;
  color: #666;
}

.selecting_container_bottom > span {
  display: block;
  padding-top: 8px;
  font-size: 12px;
  color: #999;
}







/********** -Sevective Modals Base- ***********/
